body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.orange-color{
    color: orangered;
}
.flexible-container{
    display: flex;
    margin-bottom: 130px;
    height: 100%;
    
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-inline: 10%;
}
.half-width img{
    width: 90%;
    height: 100%;
   width: 100%;
   background-position: right, left; 
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, orangered);
    padding: 10px 20px;
    padding-top: 2px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 30px grey;
    border-left: 10px solid;
    
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    
}
#recipe-box-design{
    border-left: 7px solid;
    border-image: linear-gradient(purple, orangered);
    border-image-slice: 1;
    
}
.recipe-division{
    text-align: center;
}
.recipe-img{
    width: 90%;
  height: 30%;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
  padding-left: 1%;
}
.about-me{
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.about-me-flexible-container{
    display: flex;
    margin-bottom: 130px;
    background-image: url(images/Frame\ 57.jpg);
    background-repeat: no-repeat;
}
.My-recipe-in-detailed{
    display: flex;
    margin-bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 900px;
  margin-left: 17%;
}
.food-network{
    text-align: center;
    background-color:sienna;
}
.flexible-subscribers{
    display: flex;
    margin-bottom: 130px;
    height: 100%;
    border-left: 7px;
    border-image-slice: 1;
    border-radius: 10px;
    box-shadow: 10px 10px 30px grey;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
    justify-content: space-around;
    padding-right: 20%;
}
.subscriber-text{
    padding-left: 30%;
}

